---
Checks: '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-llvm-*,-readability-named-parameter,-cppcoreguidelines-pro-bounds-constant-array-index'
WarningsAsErrors: '1'
HeaderFilterRegex: ''
FormatStyle: none
